.jumbotron {
 height: 100px;
 text-align: center;
 text-trim: force-end;
}
.spinner-grow{
 width: 3rem;
 height: 3rem;
 role:"status";
}
.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
}